.styleInput {
    position: relative;
    height: 3.7em;

    font-size: 0.8em !important;

    border: $bd-1 solid $color-dark-4;
    border-radius: 2rem;

    padding: 1em 1em 1em 3.5em !important;
    margin-bottom: 1rem;
}

.styleInputFocus {
    box-shadow: 0 0 4px 0 $color-dark-4;
    border: $bd-1 solid $color-dark-5;
}
